<header class="header">
    <div class="logo-sesion">

        <img class="logo" src=".\assets\img\logo argentina programa.png" alt="argentinaprograma" width="140"
            height="auto">
        <p>#YoProgramo</p>

        <ul>
            <li><a href="https://www.linkedin.com/in/luciano-sebastian-dri-a91a61102/"> <img
                        src=".\assets\img\61109.png" alt="linkedinlogo" width="70" height="auto"></a></li>
            <li><a href="https://github.com/LsDri92"> <img src=".\assets\img\GitHub-Mark.png" alt="githublogo"
                        width="70" height="auto"></a></li>
                    <li>    
            <li><button type="button" class="btn btn-info" (click)="login()" *ngIf="!isLogged"> Login </button></li>
            <li><button type="button" class="btn btn-info" (click)="onLogOut()" *ngIf="isLogged"> Cerrar Sesion </button></li>
        
        </ul>

    </div>
</header>