<div class=" container-fluid presentacion">

    <div class="myCard" style="width:250px">
        
        
        <img class="card-img-top" src=".\assets\img\cv.png" alt="fotocv-prueba" width="100%">

        <div class="card-body btn-edit btn-right"> 
                <h4 class="card-title">Luciano Sebastian Dri</h4>
                <p class="card-text">Paraná, Entre Rios, Argentina </p>
                <p class="card-text"> Desarrollador Full Stack jr.</p>
            
        </div>
    </div>


    <div class="container-fluid sobremi btn-edit btn-right"> 
        <p class="sobremidesc"> Soy Proactivo, con muchas ganas de aprender y desarrollarme en el mundo IT.</p>
        <p class="sobremidesc">Me gusta trabajar en grupo para poder tener diferentes perspectivas de trabajo, y diversas formas de
            poder desarrollar un proyecto.</p>
    </div>

</div>
