<div class=" container-fluid presentacion">

    <div class="myCard" style="width: 230px;" class="text-center">

      
        <img class="card-img-top" src={{persona.url_foto}} alt="fotocv-prueba"  height="auto">

        <div class="card-body">
            <h4 class="card-title">{{persona.nombre}}</h4>
            <p class="card-text">{{persona.lugar}} </p>
            <p class="card-text"> {{persona.profesion}}</p>

        </div>
    </div>


    <div class="container-fluid sobremi btn-edit btn-right">
        <a *ngIf="isLogged" (click)="onOpenModal('edit', persona)" class="btn btn-info tooltips btn-right"
        data-placement="top" data-toggle="tooltip" data-original-title="Edit">
        <i class="fa fa-edit"></i>
    </a>
        <p class="sobremidesc text-center"> {{persona.descripcion}}</p>

    </div>

</div>


<!--modal edit-->
<div class="modal fade" id="editPersonaModal" tabindex="-1" role="dialog" aria-labelledby="editPersonaModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPersonaModalLabel"> Editar {{editPersona?.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true"> &times; </span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombre"> Nombre </label>
                        <input type="text" ngModel="{{editPersona?.nombre}}" name="nombre" class="form-control"
                            id="nombre" aria-describedby="emailHelp" placeholder="nombre">
                    </div>
                    <div class="form-group">
                        <label for="lugar"> Lugar de Residencia </label>
                        <input type="text" ngModel="{{editPersona?.lugar}}" name="lugar" class="form-control"
                            id="lugar" aria-describedby="emailHelp" placeholder="lugar">
                    </div>
                    <div class="form-group">
                        <label for="profesion"> Profesión </label>
                        <input type="text" ngModel="{{editPersona?.profesion}}" name="profesion" class="form-control"
                            id="profesion" aria-describedby="emailHelp" placeholder="profesion">
                    </div>
                    <div class="form-group">
                        <label for="url_foto"> Foto </label>
                        <input type="text" ngModel="{{editPersona?.url_foto}}" name="url_foto" class="form-control"
                            id="url_foto" aria-describedby="emailHelp" placeholder="url_foto">
                    </div>
                    <input type= "hidden" ngModel="{{editPersona?.id}}" name="id" class="form-control"
                    id="id" placeholder="" />
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                        <input type="text" ngModel="{{editPersona?.descripcion}}" name="descripcion" class="form-control"
                            id="descripcion" placeholder="descripcion" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                        <button (click)="onEditPersona(editForm.value)" data-dismiss="modal" class="btn btnprimary">
                            Guardar Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>