<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

              <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
                <div class="form-outline form-white mb-4">
                  <input type="email" formControlname="email"  class="form-control form-control-lg" id="exampleInputEmail" aria-describedby="emailHelp" />
                  <label for="exampleInputEmail" class="form-label" >Email</label>
                  <div *ngIf="Email?.errors && Email?.touched">
                    <p *ngIf="Email?.hasError('required')" class="text-danger">
                      El email es requerido.
                    </p>
                    <p *ngIf="Email?.hasError('email')" class="text-danger">
                      El formato del email debe ser válido.
                    </p>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" formControlName="password" id="exampleInputPassword"
                    class="form-control form-control-lg" />
                  <label class="form-label" for="exampleInputPassword">Contraseña</label>
                  <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="text-danger">
                      La contraseña es requerida.
                    </p>
                  </div>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              </form>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>