.logoimg {
    padding: 15px;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    align-self: center;
}

ul li {
    list-style: none;
}

p {
    font-size: medium;
    color: darkmagenta;
    padding: 20px;
}

img title {
    border: 20cm;
    border-color: red;
    font-size: 15pt;
    color: blueviolet;
}

.fa {
    size: 5cm;
}

img{
    margin-left: 25%;
}
