<div class="container-fluid formation">
    <h2 class="h2">Skills y Conocimientos</h2>
    <div *ngFor="let skills of skills">


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="progress-title">{{skills.nombre}}</h3>
                    <div class="progress">
                        <div class="progress-bar"  >
                            <div class="progress-value">{{skills.descripcion}}</div>
                        </div>
                    </div>
        </div>
      

           
    </div>

    <ul>
        <li>
            <p>Ingles - Avanzado</p>
        </li>
    </ul>
</div>