.logoimg {
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}

ul li {
    list-style: none;
}

p {
    font-size: medium;
    color: darkmagenta;
    padding: 20px;
}

img title {
    border: 20cm;
    border-color: red;
    font-size: 15pt;
    color: blueviolet;
}

/* Invisible texto */
figcaption {
    display:none; 
    transition: all .5s;
    color: chocolate;
    font-size: 25px;
    font-style: oblique;
    align-items: flex-end;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }